/*--------------------------------------Home Page--------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    
}
/*------- if screen < 762px - hide sidebar-------- */
@media only screen and (max-width: 762px) {
    .Sidebar
    {
        display: none;
    }    
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/MenuBG\(Contrast\).png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

}
/*------- Logo properties-------- */
.logo{
    width: 60px;
    cursor: pointer;  
    z-index: 2;
    margin: 0 9px 0 9px;
    padding: 5px 0 0 0;
}
/*------- The logo's Div-------- */
.logo-parent{
    width: 80px;
}
/*-------Explore Button-------- */
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff; /* 00c6ff*/
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    width: 30%;
    height: 4vh;

 
}
/*------- Center Page-------- */
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    z-index: 2;


    @media screen and (min-width: 1850px) {
        margin: 0 auto;
        left: 0;
    }
}
/*------- H1 Text (HomePage)-------- */
h1{
    font-size: 100px;
    margin: 30px 0 30px;
    line-height: 80px;
    text-shadow:
		-2px -2px 0 rgb(79, 77, 163),
		2px -2px 0 #00c6ff,
		-2px 2px 0 rgb(120, 78, 136),
		2px 2px 0 #00c6ff;

}
/*-------"small" Welcome text-------- */
small{
    font-size: 70px;
    margin: 10px 0 30px;
    line-height: 40px;

     text-shadow:
		-1px -1px 0 rgb(79, 77, 163),
		1px -1px 0 #00c6ff,
		-1px 1px 0 rgb(120, 78, 136),
		1px 1px 0 #00c6ff;
}
/*-------Sidebar-------- */
.Sidebar{
    width: 80px;
    height: 100vh;
    background: linear-gradient(#a6cef7,#65a9df, #ffffff );
    position:absolute;
    right: 0;
    top: 0;
}
/*-------Social media icon images-------- */
.SocialLinks img{
    width: 50px;  
    margin: 3px auto; 
    cursor: pointer;
}
/*-------Social media icon properties-------- */
.SocialLinks{
    width: 80px;
    text-align: center;
    position: absolute;
    bottom: -5%;
    transform: translateY(-50%);

}
/*-------Character image (animation setup)-------- */
.icicles img{
    animation: icicle 7s linear infinite;
}
/*-------characters properties-------- */
.icicles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -200;
}
/*-------Animation-------- */
@keyframes icicle
{
    0%
    {
        transform: translateY(0);
        opacity: 0;
    }
     50%
    {
        
        opacity: 1;
    }
     70%
    {
       
        opacity: 1;
    }
     100%
    {
        opacity: 0;
        transform: translateY(150vh);
    }
}
/*---Animation Delays / image sizes--- */
.icicles img:nth-child(1){
    animation-delay: 2s;
    width: 50px;
}
.icicles img:nth-child(2){
    animation-delay: 5s;
    width: 70px;

}
.icicles img:nth-child(3){
    animation-delay: 7s;
    width: 100px;
}
.icicles img:nth-child(4){
    animation-delay: 1s;
    width: 70px;
}
.icicles img:nth-child(5){
    animation-delay: 3.5s;   
}
.icicles img:nth-child(6){
    animation-delay: 2.5s;
    width: 80px;

}
.icicles img:nth-child(7){
    animation-delay: 4.5s;
    width: 90px;
}




/*-------Navigation bar-------- */

ul li{
    display: inline-block;
    list-style: none;
    position: relative;    
}
nav ul li a{
    display: block;
    padding: 20px 14px ;
    text-decoration: none;    
}
/* Nav text attributes */
ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 20;
}
/* nav properties */
nav ul{
    float: left;
    position: absolute;
    list-style: none;
}
/* Hide Dropdown menu for portfolio */
ul li ul {
    display: none;
    position: absolute;    
}
/* Hover BG for nav bar (hme, ptflio,abt,ct) */
ul li:hover {
    background-color: #65a9df;
    border-radius: 10px;

}
/* Show hidden menu when hovering */
ul li:hover ul{
    display: block;
}
/* Hover BG for hidden menu */
ul li ul li a:hover{
    background-color: #65a9df;
}
/* Hidden menu text attributes */
ul li ul li a{
     padding: 10px 14px ;
     border-radius: 10px;
     color: rgb(80, 117, 196);
     text-decoration: none;
     width: 150;
     font-size: 15;
}


/*------------------------------- About Me Page --------------------------------- */

/*-------Page Title-------- */
.AboutTitle{
    max-width: 900px;
    color: white;   
    margin: 0 auto;
    text-align: center;
}
/*-------About Paragraph properties-------- */
.AboutParagraph{
    color: #fbfcfd;
    font-size: 30;
    width: 1200;
    position: absolute;
    top: 19%;
    left: 30%;
}
/*-------Display Picture properties-------- */
.DP{
    width: 300px;
    position: absolute;
    top: 20%;
    left: 15%;   
}






/* ------------------------------ FreezyFall Page -------------------------------- */

/*-------Page Title-------- */
.pageTitle{
    max-width: 900px;
    color: white;
    /* border: solid red; */
    margin: 0 auto;
    text-align: center;
}
/*-------Info ContainerBox for FreezyFall info-------- */
.ContainerBox2{
    width: 1100px;
    height: 85vh;
    border-radius: 25px;
    opacity: 0.5; 
    margin: auto;
    background: linear-gradient(#5bcefc,#83c3f7, #67c8da );   
}
.ContainerBox{
    width: 1100px;
    height: 85vh;
    border-radius: 25px;
    margin: auto;
     /* background: linear-gradient(#ff0022,#90c5f1, #ff0000 );     */
}
.FFVideo{
    width: 53%;
    height: 85vh;
    padding: 0 0 0 550;
    border-radius: 25px;
}
.FFDescription{
    color: white;
    font-size: 30;
    /* border: solid red; */
    width: 500;
    height: 40vh;
    margin: -1080 1300 0 auto;
    text-align: left;


}
.NotedText{
    color: rgb(187, 38, 38);
    font-size: 30;
    width: 500;
    height: 10vh;
    margin: 200 1300 0 auto;
    text-align: left;
    /* border: solid red; */
}
.PlayStore img{
    width: 100;
    position: absolute;
    left: 950;
    border-radius: 25px;

}



/*------------------------------- Arcadia Page --------------------------------- */

.ContainerBoxArcadia2{
    width: 1550px;
    height: 60vh;
    border-radius: 25px;
    opacity: 0.2; 
    margin:  auto;
    background: linear-gradient(#5bcefc,#83c3f7, #67c8da );   
}
.ArcadiaDescription{
    color: white;
    font-size: 30;
    /* border: solid red; */
    width: 500;
    height: 50vh;
    text-align: left;
    position: absolute;
    top: 160;
    left: 550;
}
.MenuVideo{
    width: 980;
    height: auto;
    /* border: solid red; */
    border-radius: 25px;
    position: absolute;
    top: 155;
    left: 1060;

}
.ArcadeVideo{
    width: 350;
    height: auto;
    /* border: solid red; */
    border-radius: 25px;
    position: absolute;
    top: 620;
    left: 1060;
}

.ArenaVideo{
    width: 600;
    height: auto;
    /* border: solid red; */
    border-radius: 25px;
    position: absolute;
    top: 620;
    left: 1440;
}
.Buttons{
    width: 800px;
    /* border: solid red; */
    text-align: center;
    margin: auto;
}
.Nano{
    width: 30%;
}
.Nano:hover{
    width: 35%;
    background: linear-gradient(#5bcefc,#83c3f7, #67c8da ); 
    
}
.ShadowArena{
    width: 30%;
}
.ShadowArena:hover{
    width: 35%;
    background: linear-gradient(#5bcefc,#83c3f7, #67c8da ); 
}
.Arcade{
    width: 30%;
}
.Arcade:hover{
    width: 35%;
    background: linear-gradient(#5bcefc,#83c3f7, #67c8da ); 

}

/* ------------------------------ Casino Game Page -------------------------------- */
.CasinoDescription{
    color: white;
    font-size: 30;
    /* border:  solid white; */
    width: 1000;
    height: 45vh;
    margin: 0 auto;
    text-align: left;
    height: 15vh;
    padding: 5;
}
.CasinoVideo{
    
    width: 38.3%;
    border-radius: 25px;
    position: absolute;
    top: 400;
    left: 780;
}

/* ------------------------------ Other Projects Page -------------------------------- */


/* ------------------------------ Resume Page -------------------------------- */
.ResumeImage{
    text-align: center;
}
.ResumeDownload{
    width: 20%;
    position: absolute;
    top: 140;
    right: 350;
}


/* ------------------------------ Contact Page -------------------------------- */
.ContactDescription{
    font-size: 25;
    border: 1px solid white;
}



